# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.pdb

# Compiled output
*.exe
*.dll
*.log
*.config
*.manifest
*.resx
*.resources
*.cache

# Packages
packages/
*.nupkg
*.pup

# Other
Thumbs.db
Desktop.ini